.row {
  text-align: center;
  color: white !important;
}

md-input-container {
  width: 100%;
}

button {
  width: 100%;
  color: white !important;
}

.secondary-url {
  color: white;
  font-family: Roboto;
  font-weight: 200;
}

.submit {
  margin-top: 0.5em;
}
