<div class="row vert-offset-top-3" *ngIf="!this.isTokenSent">
  <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
    <md-input-container color="accent">
      <input mdInput [(ngModel)]="this.username" type="text" placeholder="Username">
    </md-input-container>
  </div>
</div>
<div class="row" *ngIf="!this.isTokenSent">
  <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
    <button md-raised-button (click)="requestPasswordResetToken()" color="accent">SEND RESET EMAIL</button>
  </div>
</div>
