<md-card>
  <md-card-header class="card-header">
    <md-icon md-card-avatar>person</md-icon>
    <md-card-title>Personal info</md-card-title>
  </md-card-header>
  <md-card-content>
    <ul>
      <li>Email: <span>{{this.user.contact.email}}</span></li>
      <li *ngIf="this.user.contact.addressName">Address: <span>{{this._user.contact.addressName}}</span></li>
      <li *ngIf="this.user.contact.city">City: <span>{{this._user.contact.city}}</span></li>
      <li *ngIf="this.user.contact.country">Country: <span>{{this._user.contact.country}}</span></li>
      <li *ngIf="this.user.contact.phone">Phone no: <span>{{this._user.contact.phone}}</span></li>
    </ul>
  </md-card-content>
  <md-card-actions *ngIf="this.currentUser">
    <button md-button color="accent">EDIT</button>
  </md-card-actions>
</md-card>
