<div class="top">
  <div class="header mat-elevation-z8">
  </div>
  <img src="../../../assets/artist-placeholder.png" class="mat-elevation-z8 img-responsive img-circle profile-picture">
</div>
<div class="row vert-offset-top-3">
  <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-4">
    <h1>{{this.profile.firstName + ' ' + this.profile.lastName}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-xs-8 col-xs-offset-2 col-md-offset-5">
    <button md-raised-button color="accent">SEND FRIEND REQUEST</button>
  </div>
</div>
<div class="row vert-offset-top-1">
  <div class="col-md-5 col-xs-12 profile-info">
    <profile-info [user]="this.profile"></profile-info>
  </div>
  <div class="col-md-5 col-md-offset-2 col-xs-12 profile-interests">
    <profile-interests [interests]="this.profile.interests"></profile-interests>
  </div>
</div>
